# SERVER CONFIG
PORT=3000
NODE_ENV=development

# AWS S3 BUCKET CREDENTIALS
# TODO: Move these to AWS Secrets Manager before production
AWS_ACCESS_KEY_ID=AKIAVOFUMBYCHAMY3RHO
AWS_SECRET_ACCESS_KEY=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
AWS_REGION=eu-west-1
S3_BUCKET_NAME=dev-uploads-temp-01
